<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- css -->
    <link rel="stylesheet" href="style/home.css">
    <link rel="stylesheet" href="style/index.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
<div class="header p-3 d-flex justify-content-around">
    <a href="/profile">profile</a>
    <a href="/home">home</a>

    <!--    <a href="/logout">log out</a>-->
    <form th:action="@{/logout}"  method="post">
        <input type="submit" class="btn btn-outline-light" value="Sign Out"/>
    </form>
</div>

<div th:each="question : ${questions}">
    <div class="question">
        <strong class="text-center mb-3" th:text="${question.getQuestion()}"></strong>

        <div>
            <a th:href="@{/question/tapAns1(id=${question.getId()},user_id=${userid})}"
               th:text="${question.getAns1()}"></a>
            <a th:href="@{/question/tapAns2(id=${question.getId()},user_id=${userid})}"
               th:text="${question.getAns2()}"></a>
            <br>

        </div>
        <div>
            <p class="text-center" th:text="${'General vote count: '+question.getCount()}"></p>
        </div>
        <div class="mt-2" th:if="${authority==true}">
            <a class="btn btn-outline-light" th:href="@{/question/remove(id=${question.id})}">remove</a>
            <a class="btn btn-outline-light" th:href="@{/questionEdit(id=${question.id})}">update</a>
        </div>
    </div>
    <div class="stat">
        <p th:text="${question.getAns1()+' - choosed '+questionServer.getCount(question.ans1_count,question.count)+'%'}">Ans1 count</p>
        <p th:text="${question.getAns2()+' - choosed '+questionServer.getCount(question.ans2_count,question.count)+'%'}">Ans2 count</p>
    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>